name: Bamboo SMTP

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test on Elixir ${{ matrix.elixir }} / OTP ${{ matrix.otp }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elixir: [1.7.4, 1.8.2, 1.9.1, 1.10.3, 1.11.3, 1.12.3, 1.13.4]
        otp: [21.3, 22.3, 23.3, 24.3]
        exclude:
          - elixir: 1.7.4
            otp: 23.3
          - elixir: 1.7.4
            otp: 24.3
          - elixir: 1.8.2
            otp: 23.3
          - elixir: 1.8.2
            otp: 24.3
          - elixir: 1.9.1
            otp: 23.3
          - elixir: 1.9.1
            otp: 24.3
          - elixir: 1.10.3
            otp: 24.3
          - elixir: 1.11.3
            otp: 24.3
          - elixir: 1.12.3
            otp: 21.3
          - elixir: 1.13.4
            otp: 21.3
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}-elixir-${{ matrix.elixir }}-otp-${{ matrix.otp }}

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}

      - run: mix deps.get
      - run: mix compile --warnings-as-errors
      - run: mix credo --strict
      - run: mix test

  doc:
    name: Generate inch report
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - uses: erlef/setup-beam@v1
        with:
          otp-version: 24.3
          elixir-version: 1.13.4

      - run: mix deps.get --only docs
      - run: MIX_ENV=docs mix inch.report
